@import "tailwindcss";
@import 'tailwind-animations';

@theme {
  --color-background: #222c3c;
  --color-foreground: #fbf9ff;
  --color-primary: #0088fc;
  --color-secondary: #a7b0c9;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #2a3547 inset !important;
    -webkit-text-fill-color: #a7b0c9 !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  input {
    outline: none;
  }
}
