---
import Layout from "./Layout.astro";
import UserNavbar from "../components/shared/navbar/UserNavbar";

interface Props {
  title?: string;
  route?: string;
}

const { title, route } = Astro.props;
const { user } = Astro.locals;
---

<Layout title={title}>
  <div class="min-h-screen bg-background text-foreground">
    <UserNavbar client:load userEmail={user?.email ?? ""} route={route ?? ""} />
    <main class="pl-20">
      <slot />
    </main>
  </div>
</Layout>
